@inject IHomeBallsAppSettings Settings
@inject IHomeBallsAppStateContainer State
@inject IHomeBallsLocalStorageDataSource Data
@inject IHomeBallsLocalStorageEntryCollection Entries
@inject IHomeBallsAppSettingsLoader SettingsLoader
@inject IHomeBallsTableGenerator TableGenerator
@inject IHomeBallsEntryColumnFactory ColumnFactory
@inject IHomeBallsEntryTable Table

<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(HomeBallsAppLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(HomeBallsAppLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>

</Router>

@code {
    protected override async Task OnAfterRenderAsync(Boolean firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender) return;
        await Task.Run(() => SettingsLoader.LoadSettingsAsync(Settings));
        await Task.Run(() => TableGenerator.LoadTableDataAsync(State, Data, Entries));
        await Task.Run(() => TableGenerator.GenerateColumnsAsync(State, Settings, Data, Entries, ColumnFactory, Table));
        await Task.Run(() => TableGenerator.PostGenerationAsync(State, Data));
    }
}